
body {
  font-family: 'Hind', sans-serif;
  color: #4A4E5A;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #30323A;
  margin: 0 0 10px;
  font-weight: 700;
}

a {
  color: #30323A;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  color: #F8694A;
  text-decoration: none;
  outline: none;
}

.primary-color {
  color: #F8694A;
}

.white-color {
  color: #FFF;
}

.font-weak {
  font-weight: 400;
}

strong {
  color: #30323A;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #DADADA;
}

/*----------------------------*\
	Buttons
\*----------------------------*/

.main-btn, .primary-btn {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px;
  border: none;
}

.main-btn {
  color: #30323A;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}

.main-btn:hover, .main-btn:focus {
  color: #F8694A;
  -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
  box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

.primary-btn {
  color: #FFF;
  background-color: #F8694A;
}

.primary-btn:hover, .primary-btn:focus {
  color: #FFF;
  background-color: #30323A;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
  box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

textarea.input {
  padding: 15px;
}

.input-checkbox .caption {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s max-height;
  transition: 0.3s max-height;
}

.input-checkbox>label {
  color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, .input-checkbox input[type="radio"]:checked+label+.caption {
  max-height: 800px;
}


/*----------------------------*\
	Sections
\*----------------------------*/

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-grey {
  background: #F6F7F8;
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #DADADA;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #F8694A;
}

/*----------------------------*\
	Breadcrumb
\*----------------------------*/

#breadcrumb {
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
}

.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 10px 0px;
  margin: 0;
}

.breadcrumb>.active {
  color: #F8694A;
}

.breadcrumb>li+li:before {
  color: #DADADA;
}

/*=========================================================
	02 -> HEADER
===========================================================*/

#header {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DADADA;
}

.header-top-links>li {
  display: inline-block;
}

.header-top-links>li+li {
  margin-left: 15px;
}

.header-top-links>li>a {
  cursor: pointer;
  text-transform: uppercase;
}

/*----------------------------*\
	logo
\*----------------------------*/

.header-logo {
  display: inline-block;
  margin-right: 15px;
}

.header-logo .logo>img {
  width: 100%;
  max-height: 70px;
}

/*----------------------------*\
	Search header
\*----------------------------*/

.header-search {
  display: inline-block;
  padding: 15px 0px;
  width: 550px;
}

.header-search>form {
  position: relative;
}

.header-search>form .search-input {
  padding-left: 150px;
  padding-right: 45px;
}

.header-search>form .search-categories {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 135px;
}

.header-search>form .search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

/*----------------------------*\
	Account header
\*----------------------------*/

.header-btns>li {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0px;
}

.header-btns>li+li {
  margin-left: 15px;
}

.header-btns>li .header-btns-icon {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #30323A;
  background-color: #FFF;
  border: 1px solid #DADADA;
}

.header-btns .dropdown-toggle {
  display: block;
  cursor: pointer;
}

.header-account.dropdown .custom-menu>li>a>i {
  margin-right: 15px;
  color: #F8694A;
}

/*=========================================================
   NAVIGATION
===========================================================*/

#navigation {
  background-color: #30323A;
}

#navigation .container {
  position: relative;
}



/*----------------------------*\
	Mobile nav
\*----------------------------*/

#header .nav-toggle {
  display: none;
}

@media only screen and (max-width: 991px) {
  #header .nav-toggle {
    display: inline-block;
  }
  header .pull-left, header .pull-right {
    float: none !important;
  }
  header .pull-right {
    margin-top: 10px;
  }
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 270px;
    width: 0%;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 990;
  }
  #responsive-nav.open {
    width: 100%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  #responsive-nav .dropdown .custom-menu {
    display: none;
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-left: 2px solid #F8694A;
  }
  #responsive-nav .dropdown.open .custom-menu {
    display: block;
    min-width: auto;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .category-nav .category-list, .menu-nav .menu-list {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 100px);
  }
  .category-nav .category-list.open, .menu-nav .menu-list.open {
    display: block;
  }
  .menu-nav .menu-header, .category-nav .category-header {
    cursor: pointer;
  }
  .category-nav {
    float: none;
    width: 100%;
  }
  .category-nav .category-list {
    position: static;
  }
  .menu-nav .menu-header {
    display: block;
  }
  .menu-nav .menu-list {
    float: none;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
  }
  .menu-nav .menu-list>li {
    display: block;
  }
  .menu-nav .menu-list>li+li {
    border-top: 1px solid #DADADA;
  }
  .menu-nav .menu-list>li>a {
    color: #30323A;
  }
  #navigation.shadow:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }
}

/*=========================================================
	04 -> BANNERS
===========================================================*/

.banner {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner>img {
  width: 100%;
}

.banner.banner-1 .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.banner h1 {
  font-size: 46px;
  text-transform: uppercase;
}

/*=========================================================
	05 -> HOME SLIDER
===========================================================*/

#home .home-wrap {
  margin-left: 270px;
}

#home-slick .banner {
  margin: 0px;
}



/*----------------------------*\
	Product slick
\*----------------------------*/

.product-slick .slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.product.product-single {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover {
  -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.product.product-single .product-thumb {
  position: relative;
  margin-bottom: 15px;
}

.product.product-single .product-thumb>img {
  width: 100%;
}

.product.product-single .product-thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
  opacity: 0.7;
  visibility: visible;
}

.product.product-single .quick-view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

.product.product-single:hover .quick-view {
  opacity: 1;
  visibility: visible;
}

.product.product-single .product-label {
  position: absolute;
  left: 0;
  top: 0;
}

.product.product-single .product-label>span {
  display: block;
}

.product.product-single .product-countdown {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.product.product-single .product-body {
  padding: 15px;
}

.product.product-single .product-price {
  display: inline-block;
}

.product.product-single .product-rating {
  float: right;
  margin-top: 5px;
}

.product.product-single .product-name {
  font-size: 16px;
}

.product.product-single .product-btns {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.product.product-single:hover .product-btns {
  opacity: 1;
  visibility: visible;
}

/*-- hot product --*/

.product.product-single.product-hot {
  border: 2px solid #F8694A;
}

.product.product-single.product-hot .product-btns {
  opacity: 1;
  visibility: visible;
}


.welcome-banner {
  background-color: #30323A;
  text-align: center;
  color: white;
  padding: 10px 0px;
  font-size: 18px;
}


#store {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid #DADADA;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA;
}

/*-- store filter --*/

.row-filter {
  display: inline-block;
  vertical-align: top;
}

.row-filter>a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background-color: #30323A;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.row-filter>a:hover {
  opacity: 0.9;
}

.row-filter>a.active {
  background-color: #F8694A;
}

.sort-filter {
  display: inline-block;
  margin-left: 15px;
}

.sort-filter select.input {
  width: 120px;
}

.page-filter select.input {
  width: 90px;
}

.page-filter {
  display: inline-block;
}

.store-pages {
  display: inline-block;
  margin-left: 15px;
}

.store-pages li {
  display: inline-block;
  margin-right: 6px;
}

.store-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
}

.store-pages li.active {
  color: #F8694A;
}

.login {
  color: purple;
  font-size: 30px;
  margin-top: 15px;
}

.about-banner {
  text-align: center;
  color: black;
  font-size: 18px;
}