{% extends "Layout.html" %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='CreatePost.css') }}" />
</head>
<div class="container-fluid">
  <h1 align="center">Create a Listing</h1>
  <div class="row">
    <!-- Left Spacer -->
    <div class="col-sm-2"></div>
	
    <div align="center">
	
		<div class="container2">
		<form action="/action_page.php">
			Listing Title: <input type="text" name="title"  size="48" align="Center"><br>
			Category: 
				<select>
				  <option value="Books">Books</option>
				  <option value="Electronics">Electronics</option>
				  <option value="Furniture">Furniture</option>
				  <option value="Misc">Misc</option>
				</select>
			<br>
			Price: <input type="text" name="price"  size="48"><br>
			Description: <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea><br>
			Images: <input type="file" name="img" multiple><br>
			<input type="submit">
		</form>
		</div>
	
	</div>
	
	<!-- Right Spacer -->
    <div class="col-sm-2"></div>
  </div>
</div>

{% endblock content %}
