<!doctype html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='index.css') }}">
    
    <body>
        <h1>About Us</h1>
        <a href="{{ url_for('jake') }}"> About Jake</a>
        <br>
        <a href="{{ url_for('gary') }}"> About Gary</a>
        <br>
        <a href="{{ url_for('martin') }}"> About Martin</a>
        <br>
        <a href="{{ url_for('gordon') }}"> About Gordon</a>
        <br>
        <a href="{{ url_for('wagner') }}">About Wagner</a>
        <br>
        <a href="{{ url_for('tina') }}">About Tina</a>
        <br>
        <a href="{{ url_for('alvin') }}">About Alvin</a>
    </body>
</html>