<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>About Jake Carter</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutJakeStyle.css') }}">
    </head>
    <body>
        <h1>About Jake Carter</h1>
        <div>
            <p> I am a senior at San Francisco State University, currently pursuing 
                a bachelor's degree in Computer Science.</p>
            <img src="{{ url_for('static', filename='jakePic.jpg')}}" width=232 height=310/>
        </div>
    </body>
</html>
