{% extends "Header.html" %}
{% block content %}

<!doctype html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='index.css') }}">
    
    <body>
        <h1>About Us</h1>
        <a href="{{ url_for('about_page.jake') }}"> About Jake</a>
        <br>
        <a href="{{ url_for('about_page.gary') }}"> About Gary</a>
        <br>
        <a href="{{ url_for('about_page.martin') }}"> About Martin</a>
        <br>
        <a href="{{ url_for('about_page.gordon') }}"> About Gordon</a>
        <br>
        <a href="{{ url_for('about_page.wagner') }}">About Wagner</a>
        <br>
        <a href="{{ url_for('about_page.tina') }}">About Tina</a>
        <br>
        <a href="{{ url_for('about_page.alvin') }}">About Alvin</a>
    </body>
</html>
{% endblock content %}