{% extends "Header.html" %}
{% block content %}
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}" />
</head>

<div class="container-fluid">
    {% if post is defined %}
  <h1 align="center"style="padding-top:10px;">{{post.name}}</h1>
    {% endif %}

    <!-- Side bar -->
<div class="column side">
  <div style="height: 60vh; overflow: auto;">
    <table style="width:100%;">
    <td>Post:</td>
        {% for item in QueryPosts%}
            {%if item.name is defined %}
                <tr style="width:100%; text-align: center"> <td>  <a href = "/Admin/Dashboard/{{ item.id }}"> {{ item.name }}</a> </td></tr>
            {% endif %}
        {% endfor %}
    </table>
  </div>

</div>
  <div class="row">
    <!-- Left Spacer -->

    <div class="col-sm-2"></div>


        {% if post is defined %}
		<div class="container2">
			<!-- Display post's images -->
			<img src="/images/{{post.image}}"  width = 300 height = 300/><br><br><br>

			<!-- Display post's category -->
			<label>Category:</label>   {{post.category}}<br>


			<!-- Display post's price -->
			<label>Price: </label>   $ {{post.price}}<br>


			<!-- Display post's description -->
			<label>Description: </label>   {{post.description}}<br><br><br>
            <form action="/Admin/Review/{{post.id}}" method="post">
                <button type="submit" name="status" value="approved" class="btn update_btn form-control" style="background-color:#c0c0c0; width: 25%;min-width:100px">Approve</button>
                <button type="submit" name="status" value="denied" class="btn update_btn form-control" style="background-color:#c0c0c0; width: 25%;min-width:100px">Deny</button>
            </form>
		</div>
            {% else %}
            <h4>{{eString.string}}</h4>
        {% endif %}


	<!-- Right Spacer -->
    <div class="col-sm-2"></div>
  </div>

</div>
{% endblock content %}