{% extends "Header.html" %}
{% block content %}


    <script>

    /* function to change tab */
function changetab(evt, Name) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";


    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(Name).style.display = "block";
    evt.currentTarget.className += " active";
}

/* opens messages*/
function OpenMessage() {
    var x = document.getElementById("Message1");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}" />
</head>

<div class="container-fluid">
  <h1 align="center">[Listing Name]</h1>


    <!-- Side bar -->
<div class="column side">

    <!-- Message and Post buttons -->
  <button class="tablinks" onclick="changetab(event, 'Messages')">Messages</button>
  <button class="tablinks" onclick="changetab(event, 'Posts')">Posts</button>


    <!-- Sort Dropdown -->
    <select>
    <option value="">Sort by</option>
    <option value="ListingName">Listing Name</option>
    <option value="Date">Date</option>
</select>
    <br><br>

    <!-- Message table -->
  <div id="Messages" class="tabcontent">

  <table>
<td>Message From:</td>
<td> About Post:</td>

                        {% for item in QueryMessage%}

                          {%if item.sentFrom is defined %}
                              {%if item.message is defined %}
                                <!-- gets username who sent message from database  -->
                              <tr> <td><a href = "/Dashboard/message/{{ item.id }}"> {{ item.sentFrom }}</a></td>
                                <!-- gets message from database  -->
                               <td>{{item.message}}</td>
                              </tr>
                                  {% endif %}
                          {% endif %}



                        {% endfor %}
</table>
  </div>

    <!-- Post Table -->
  <div id="Posts" class="tabcontent">
<table>
<td>Post:</td>
<td>Approval Status:</td>

                        {% for item in QueryPosts%}

                          {%if item.name is defined %}
                              {%if item.category is defined %}
                                  {%if item.approval is defined %}
                                      <!-- gets post from database  -->
                                  <tr> <td>  <a href = "/Dashboard/{{ item.id }}"> {{ item.name }}</a> </td>
                                      <!-- gets approval status from database  -->
                              <td>{{item.approval}}</td></tr>
                                  {% endif %}
                          {% endif %}
{% endif %}

                        {% endfor %}
</table>
  </div>

</div>
  <div class="row">
    <!-- Left Spacer -->

    <div class="col-sm-2"></div>



		<div class="container2">


		<form action="/action_page.php" method="post">

            <h1>Not Approved</h1>
		<br>
            <br>
			<!-- images -->
			<label for="Images">Images:</label><br><br><br>
			
			
			<!-- category -->
			<label for="Category">Category:</label><br>
			
			
			<!-- price -->
			<label for="Price">Price:</label><br> 
			
			
			<!-- description -->
			<label for="Description">Description:</label><br><br><br>
			

			
			
			<!-- Cancel button -->
            <div><button>Cancel Listing</button></div>

		</form>
		</div>
	
	
	
	<!-- Right Spacer -->
    <div class="col-sm-2"></div>
  </div>

</div>
{% endblock content %}