{% extends "Header.html" %}
{% block content %}

<script>
    /* function to change tab */
function changetab(evt, Name) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(Name).style.display = "block";
    evt.currentTarget.className += " active";
}
/* opens messages*/
function OpenMessage() {
    var x = document.getElementById("Message1");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<div class="container-fluid">
    <!-- Side bar -->
  <div class="col-md-3" style="margin-top: 20px">
      <!-- Message and Post buttons -->
      <div style="margin-bottom:22px">
        <button class="tablinks btn update_btn form-control" style="background-color:#4C57F6; color:white; width: 25%;min-width:100px" onclick="changetab(event, 'Posts')">Posts</button>
        <button class="tablinks btn update_btn form-control" style="background-color:#4C57F6; color:white; width: 25%;min-width:100px" onclick="changetab(event, 'Messages')">Messages</button>
      </div>

      <!-- Message table -->
    <div id="Messages" class="tabcontent" style="height: 320px; overflow: auto;">

    <table class="table">
    <td>From:</td>
    <td>Post:</td>

    {% for item in QueryMessage%}

      {%if item.sentFrom is defined %}
          {%if item.message is defined %}
            <!-- gets username who sent message from database  -->
          <tr> <td><a href = "/Dashboard/Messages/{{ item.id }}"> {{ item.sentFrom }}</a></td>
            <!-- gets message from database  -->
              <td><a href = "/Dashboard/Posts/{{ item.postId }}">{{item.postTitle}}</a></td>
          </tr>
              {% endif %}
      {% endif %}

    {% endfor %}
    </table>
    </div>

      <!-- Post Table -->
    <div id="Posts" class="tabcontent" style="height: 320px; overflow: auto;">
      <table class="table">
      <td>Post:</td>
      <td>Status:</td>

          {% for item in QueryPosts%}
            {%if item.name is defined %}
                {%if item.category is defined %}
                
                {%if item.approval is defined %}
                <tr> <td>  <a href = "/Dashboard/Posts/{{ item.id }}"> {{ item.name }}</a> </td>
 
                <td><p id="itemStatus" class="allStatuses">{{item.approval}}</p></td>
                </tr>
                {% endif %}
                {% endif %}
          {% endif %}

          {% endfor %}
      </table>
    </div>

    {% if messages is defined %}
    <script> changetab(event, 'Messages')</script>
    {% else %}
    <script> changetab(event, 'Posts')</script>
    {% endif %}

  </div>

    <!-- Left Spacer -->

    <div class="col-md-6" style="padding-bottom:50px; margin-top:20px">
      {% if post is defined %}


      <div class="row">
      {% if post is defined %}
         <div class="col-md-12 text-center" style="padding-left: 0px">
                <h2 style="background-color:gold; padding:5px; border-radius:15px"> {{post.name}} </h2>
              </div>

        {% endif %}
        {% if title is defined %}
      <h1 align="center" style="padding-top:10px;">{{title}}</h1>

         <div class="col-md-12 text-center" style="padding-left: 0px">
                <h2 style="background-color:gold; padding:5px; border-radius:15px"> {{title}} </h2>
              </div>

        {% endif %}

      <div class="col-md-12">
        <label style="margin:0px; text-align: left;">Approval:</label>   {{post.approval.upper()}}
      </div>
			<!-- Display post's images -->
			<img src="/static/img/{{post.image}}" width="250" height="250" style="padding:10px"/>

			<!-- Display post's category -->

      <div class="col-md-12">
        <label style="margin:0px; text-align: left">Category:</label>  {{post.category}}
      </div>


			<!-- Display post's price -->
      <div class="col-md-12">
        <label style="margin:0px; text-align: left">Price:</label>  {{'${:,.2f}'.format(post.price)}}
      </div>

			<!-- Display post's description -->
      <div class="col-md-12">
        <label style="margin:0px; text-align: left">Description:</label>   {{post.description}}
      </div>

            {% elif messages is defined %}

                {% for item in messages %}
                    <p><b>{{item.sentFrom}}:</b> {{item.message}}</p>
                {% endfor %}
          <form action="" method="post">
              <textarea id="subject" name="subject" placeholder="Reply..." style="height:200px; resize: none" required></textarea><br>

                <!-- submit button, will add mandatory field if this field is empty. -->
                    <button type="submit" class="btn update_btn form-control" style="background-color:#c0c0c0; width: 25%;min-width:100px">Send</button>
		</form>
   
            {% else %}
            <h4>{{eString.string}}
                {% if eString.post is defined %}
                    <a href="/CreatePost" style="color:blue">Click here!</a>
                {% endif %}
                </h4>
        {% endif %}



  </div>
  <div class="col-md-3"></div>
</div>
{% endblock content %}
