{% extends "Header.html" %}
{% block content %}

<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">MOST RECENT POST FOR BOOKS</h2>
					</div>
				</div>
				<!-- section title -->
				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Books.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

                				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Books.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Books.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Books.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">MOST RECENT POST FOR  LAPTOP</h2>
					</div>
				</div>
				<!-- section title -->
				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Laptop.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

                				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Laptop.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Laptop.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Laptop.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">MOST RECENT POST FOR ACCESSORIES</h2>
					</div>
				</div>
				<!-- section title -->
				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/banner09.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

                				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/banner09.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/banner09.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/banner09.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">MOST RECENT POST FOR ELECTRONICS</h2>
					</div>
				</div>
				<!-- section title -->
				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/electronics.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

                				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/electronics.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/electronics.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/electronics.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">MOST RECENT POST FOR FURNITURE</h2>
					</div>
				</div>
				<!-- section title -->
				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Furniture1.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

                				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Furniture1.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Furniture1.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="#">
						<img src=" {{url_for('static', filename='img/Furniture1.jpg')}}">
						<h4 class="product-name"><a href="#">Post title</a></h4>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- jQuery Plugins -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.zoom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

{% endblock content %}
