{% extends "Header.html" %}
{% block content %}

<section class="login_area p_100">
<div class="container-fluid">
   <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding:10px;">
        <form action="" method="post">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger text-center" style="margin-bottom: 0px" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endwith %}

            <div class="col-md-12 text-center">
              <h2 style="background-color:gold; padding:5px; border-radius:15px"> Login </h2>
            </div>

            <div class="col-md-12 text-center form-group">
                <input class="form-control" type="Username" style="padding-left:5px" placeholder="User Name", name="username">
            </div>


            <div class="col-md-12 form-group">
                <input class="form-control" type="Password" style="padding-left:5px" placeholder="Password" name="password">
            </div>


            <div class="col-lg-md-12" style="padding-left: 15px">
                <p>Forgot your password ? <a href="#" style="color:blue">Click here!</a></p>
                <p>New User? <a href="/SignUp" style="color:blue">Register!</a></p>
                <p>Forgot Password? <a href="/SignUp" style="color:blue">Recover!</a></p>
            </div>


            <div class="col-md-12 form-group">
                <button type="submit" value="submit" style ="background-color:#4C57F6; color:white"class="btn form-control" style="border-radius:15px">Login</button>
            </div>

        </form>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
