{% extends "Header.html" %}
{% block content %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Sign Up</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
    <br>

    <section class="login_area p_100">
    <div class="container">
                <div class="login_inner">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="login_title">
                                <h2>Create Account</h2>
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        <ul class=flashes>
                                        {% for message in messages %}
                                          <li style="color:red">{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                      {% endif %}
                                    {% endwith %}
                            </div>
                            <form action="" method="post" class="login_form row">
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="text" placeholder="User Name" name="username">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="email" placeholder="Email">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="password" placeholder="Re-Password" name="repassword">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label>By creating an account, you agree to our <a href="/termsOfService" style="color:blue" target="_blank"> terms and conditions of use.</a> </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input type="checkbox" name="termsCheckBox" >
                                    <label>I agree to the terms and conditions of use</label>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <button type="submit" value="submit" style ="background-color:#c0c0c0" class="btn subs_btn form-control">Create Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
    </section>
    	<!-- jQuery Plugins -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.zoom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
{% endblock content %}