<head>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
{% extends "Header.html" %}
{% block content %}
  <section class="login_area p_100">
    <div class="container-fluid">
      <div class="row">
      
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding:10px;">
        <form action="" method="post">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger" style="margin-bottom: 0px" role="alert">
              {% for message in messages %}
                {{ message }}<br>
              {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endwith %}
        <form action="" method="post" class="login_form row">

            <div class="col-md-12 text-center">
              <h2 style="background-color:gold; padding:5px; border-radius:15px">Register</h2>
            </div>
            <div class="col-md-12 form-group" style="margin-bottom: 0px">
                <input class="form-control" type="text" placeholder="User Name" name="username">
            </div>
            <div class="col-md-12 form-group" style="margin-bottom: 0px">
                <input class="form-control" type="email" placeholder="Email">
            </div>
            <div class="col-md-12 form-group" style="margin-bottom: 0px">
                <input class="form-control" type="password" placeholder="Password" name="password">
            </div>
            <div class="col-md-12 form-group" style="margin-bottom: 0px">
                <input class="form-control" type="password" placeholder="Confirm Password" name="repassword">
            </div>
            <div class="col-md-12 form-group" style="margin-bottom: 0px">
                <p>By creating an account, you agree to our <a href="/termsOfService" style="color:blue" target="_blank"> terms and conditions of use.</a> </p>
              <div class="form-check">
                <label class="form-check-label" style="width:100%;text-align: left">
                  <input type="checkbox" class="form-check-input" style="width:10%;float:left;"name="termsCheckBox">
                  I agree to the terms and conditions of use.
                </label>

              </div> 
            </div>
            <div class="g-recaptcha col-md-12 form-group" data-sitekey="6Ldu6noUAAAAAOUSLrWw-ddVEmiBP3wx6QnEtvyR"></div>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" style ="background-color:#4C57F6;color:white"; class="btn subs_btn form-control">Create Account</button>
            </div>
            <div class="col-md-12">
            <p>Already have an account? <a href="/login" style="color:blue">Login here!</a> </p>
            </div>
        </form>
      </div>
    </div>
</section>
    
{% endblock content %}
